__pycache__/
*.pyc
.venv/
venv/
.env
LOG/*.log
dataset_cognex/images/*
dataset_cognex/labels/*
dataset_cognex/manifests/*
!dataset_cognex/images/.gitkeep
!dataset_cognex/labels/.gitkeep
!dataset_cognex/manifests/.gitkeep
